.login-page {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.login-container {
  position: relative;
  display: flex;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 700px;
  max-width: 90%;
  height: 400px;
}

.login-image-section {
  flex: 1;
  background-color: #e6e6e6;
  height: 100%;
}

.login-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form-section {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
  text-align: center;
  padding: 40px;
  z-index: 1;
  transition: all 0.6s ease-in-out 1.2s, visibility 0s 1s;
  box-sizing: border-box;
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.google-button {
  background-color: #4285f4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 10px;
  width: 100%;
}

.google-icon {
  width: 20px;
  height: 20px;
}

.register-text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.register-link {
  color: #4285f4;
  text-decoration: none;
  font-weight: bold;
}
